{minimum_otp_vsn, "20.1"}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
  {lager, {git, "https://github.com/aeternity/lager.git", {ref, "9d97ae3"}}},
  {errd, ".*", {git, "https://github.com/archaelus/errd.git", {ref, "9c3f98403354a4f0bec3582f69b513364306ff9a"}}}
]}.

{escript_incl_apps, [aesim, errd, lager]}.
{escript_main_app, aesim}.
{escript_name, aesim}.
{escript_emu_args, "%%! +sbtu +A0\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%%\n"}.

{dialyzer, [{warnings, [unknown]}]}.
{dialyzer, [{plt_extra_apps, [errd]}]}.

{relx, [
  {release, {aesim, "0.1"}, [lager, errd, aesim]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.
